@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header start */

.header {
  background-image: url('./images/navigation/background.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';
  background: rgba(0, 0, 0, 0.2);
}

.header__wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

.header__nav a {
  position: relative;

  font-weight: 600;
  font-size: 15px;

  margin-right: 35px;

  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  transition: background-color 0.5s ease;
}

.header__block a {
  display: inline-block;
}

.header__image {
  width: 139px;
}

.header__nav a.active::after,
.header__nav a:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: white;
  content: '';
}

.header__nav a:last-child {
  margin-right: 0px;
}

.header__languages {
  display: flex;
  column-gap: 8px;
}

.header__languages .language {
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;

  text-transform: uppercase;

  color: #b7b7b7;
  transition: color 0.3s ease;
}

.header__languages .language:hover {
  color: white;
}

.header__languages .language.active {
  color: #ffffff;
}

.header__content {
  position: relative;
  z-index: 1;
}

.header__content-title {
  max-width: 790px;
  margin-top: 117px;
  margin-bottom: 53px;

  font-weight: 700;
  font-size: 48px;
  line-height: 150%;

  text-transform: uppercase;

  color: #ffffff;
}

.btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 11px 48px;

  text-decoration: none;
  background: #db2512;

  color: #ffffff;
  transition: background 0.5s ease;
}

.btn:hover {
  background: #d78178;
}

/* header end */

/* contacts start */
.contacts {
  transform: translateY(-50%);
}

.contacts__wrapper {
  display: flex;
  column-gap: 22px;
}

.contacts__block {
  padding: 39px 39px 37px;
  width: 395px;
  min-height: 195px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.contacts__image img {
  width: 30px;
  height: 30px;
}

.contacts__title {
  margin-top: 21px;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000000;
}

.contacts__address {
  margin: 0;
  font-weight: 400;
  font-size: 18px;

  color: #b7b7b7;
}
/* contacts end */

/* services start */

.services {
  margin-bottom: 100px;
}

.services__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000000;
}

.services__link {
  font-weight: 400;
  font-size: 15px;

  letter-spacing: 0.15em;
  text-decoration-line: underline;

  color: #000000;
}

.services__link:hover {
  text-decoration: none;
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
}

.services__block {
  margin-top: 60px;
  background-repeat: no-repeat;
}

.services__cover {
  position: relative;
  cursor: pointer;

  opacity: 0;

  height: 500px;
  width: 385px;
}

.services__cover:hover {
  opacity: 1;
}

.services__cover::after {
  /* opacity: 0; */
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);
  content: '';
}

.services__cover__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  width: 100px;
  height: 100px;

  background: #db2512;

  color: white;
  font-size: 40px;
  font-weight: 500;
}

.services__cover__about {
  position: absolute;
  z-index: 1;
  bottom: 32px;
  left: 29px;
  max-width: 270px;

  font-weight: 600;
  font-size: 18px;

  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #ffffff;
}

.services__description {
  margin: 0;
  margin-top: 21px;
  font-weight: 600;
  font-size: 20px;

  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #000000;
}
/* services end */

/* about start */

.about {
  height: 700px;
  background: #000000;

  /* border-top: 0.00001px solid black; */
  padding: 117px 0 116px;
}

.about__wrapper {
  /* margin-top: 117px;
  margin-bottom: 116px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__content {
  width: 435px;
  height: 505px;
}

.about__content-title {
  margin: 0;
  margin-bottom: 42px;

  font-weight: 700;
  font-size: 30px;
  line-height: 150%;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;
}

.about__content-description {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 600;
  font-size: 15px;
  line-height: 150%;

  letter-spacing: 0.23em;

  color: #b7b7b7;
}

.about__content-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  letter-spacing: 0.15em;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #ffffff;
}

.about__content-link:hover {
  text-decoration: none;
}

.about__img {
  width: 515px;
  height: 340px;
}

/* about end */

/* process start */
.process {
}

.process__title {
  margin: 0;
  text-align: center;
  margin-top: 100px;
  font-weight: 900;
  font-size: 148px;

  text-transform: uppercase;

  color: #000000;
}

.process__subtitle {
  margin: 0;
  margin-bottom: 92px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000000;
}

.process .contacts__block {
  padding: 31px 30px 26px;
  min-height: 150px;
}

.process .contacts__title {
  margin-top: 0;
}

.process__wrapper {
}

.process__block {
}

.process__block-title {
}

.process__block-description {
}
/* process end */

/* form start */
.form {
  margin-top: 95px;
  height: 665px;
  background: #000000;

  padding-top: 97px;
  padding-bottom: 97px;
}

.form__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 46px;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;
}

.form__row {
  width: 440px;
  display: flex;
  column-gap: 46px;
  margin-bottom: 46px;
}

.form__block {
  position: relative;
  width: 197px;
}

.form__block input,
.form__row textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  font-family: inherit;
  outline: none;
  background: transparent;
}

.form__block label {
  position: absolute;
  bottom: 9px;
  left: 0;

  pointer-events: none;
  font-weight: 400;
  font-size: 15px;

  letter-spacing: 0.15em;

  color: #ffffff;
  transition: all 0.3s;
}

.form__block input:focus + label,
.form__block input:not(:placeholder-shown) + label {
  bottom: 25px;
  font-size: 12px;
}

.form__row.textarea {
  position: relative;
}

.form__row.textarea textarea + label {
  position: absolute;

  top: 0;
  left: 0;

  font-weight: 400;
  font-size: 15px;

  letter-spacing: 0.15em;

  color: #ffffff;
  transition: all 0.3s;
}

.form__row.textarea textarea:focus + label,
.form__row.textarea textarea:not(:placeholder-shown) + label {
  left: 0;
  top: -15px;
  font-size: 12px;
}

/* form end */
